<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="nofollow"/>
    <meta name="description" content="A search engine for the Seth material as dictated by Jane Roberts and transcribed by Robert F. Butts."/>
    {% if og_description %}
        <meta property="og:description" content="{{ og_description }}"/>
    {% endif %}
    <link type="application/opensearchdescription+xml" rel="search" href="/static/sethcorpus.osdd"/>
    <title>{% if query_str %}{{ query_str }} - {% endif %}Seth search engine</title>
    {% assets 'main_css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
<h1><a href="/">Seth search engine</a></h1>
<p><a href="http://sethtalks.com/t/seth-search-engine/513/">Forum post for updates</a></p>
<div><p>Example searches (hover for explanation):</p>
<ul class="examples">
    <li>{{ example('beer OR wine', 'either word')|safe }}</li>
    <li>{{ example('cat mouse', 'both words')|safe }}</li>
    <li>{{ example('"conscious mind"', 'the complete phrase')|safe }}</li>
    <li>{{ example('exact:thankful', 'the exact word (not stemmed to "thank")')|safe }}</li>
    <li>{{ example('"mind matter"~3', 'the complete phrase, but allows a distance between the words')|safe }}</li>
    <li>{{ example('book:tes? exercise', '"exercise" in every TES book')|safe }}</li>
    <li>{{ example('hospital date:"feb 1964"', '"hospital" in the given month')|safe }}</li>
    <li>{{ example('common:"we are seth"', 'keeps the common words "we" and "are"')|safe }}</li>
    <li>{{ example('NOT book:wth exercise', '"exercise" excluding the book Way Toward Health')|safe }}</li>
    <li>{{ example('heading:(essay 4) mind', 'both words in heading, "mind" in text')|safe }}</li>
    <li>{{ example('"five minutes" OR "ten minutes" book:(ss OR nopr OR tma)', 'phrases in multiple books')|safe }}</li>
</ul>
<p>Leave out the search words for casual browsing:</p>
<ul class="examples">
    <li>{{ example('book:tma', 'list of sessions in The Magical Approach')|safe }}</li>
    <li>{{ example('heading:dreams', 'any heading containing "dreams" in any book')|safe }}</li>
    <li>{{ example('heading:"chapter 16"', 'complete phrase in heading')|safe }}</li>
    <li>{{ example('session:636', 'number in session title')|safe }}</li>
    <li>{{ example('session:(esp notes)', 'both words in session title')|safe }}</li>
    <li>{{ example('date:[oct 1970 to dec 8 1970]', 'sessions in the given date range')|safe }}</li>
    <li>{{ example('book:tma heading:*teen', 'headings ending in "teen" in The Magical Approach')|safe }}</li>
</ul>
</div>
<p><a href="http://whoosh.readthedocs.io/en/latest/querylang.html">Query language reference</a></p>
<div id="search">
<p class="books">Individual books: {{ books|map('book_link')|join(', ')|safe }}</p>
<p class="books">Multiple volumes: {{ [
    ('UR?', "The \"Unknown\" Reality"),
    ('DEaVF?', "Dreams, \"Evolution\", and Value Fulfillment"),
    ('TES?', "The Early Sessions"),
    ('TPS?', "The Personal Sessions"),
    ('TECS?', "The Early Class Sessions"),
    ]|map('volumes_link')|join(', ')|safe }}</p>
{% if doc_count == 0 %}
<h2>Rebuilding index... please refresh in a few minutes.</h2>
{% endif %}
<form method="post">
    <!--suppress SillyAssignmentJS -->
    <input {% if not query_str %}autofocus{% endif %} required type="text" id="query" name="query" title="query" onfocus="this.value = this.value" value="{{ query_str }}">
    <input id="submit" type="submit" value="Search">
    {{ correction|safe }}
    <p>Hit order:
        <label><input type="radio" onclick="hitOrder(this);" name="hit-order" id="hit-order-rel" value="rel" required{% if computed_hit_order() == 'rel' %} checked{% endif %}> relevance</label>
        <label><input type="radio" onclick="hitOrder(this);" name="hit-order" id="hit-order-asc" value="asc"{% if computed_hit_order() == 'asc' %} checked{% endif %}> earliest</label>
        <label><input type="radio" onclick="hitOrder(this);" name="hit-order" id="hit-order-desc" value="desc"{% if computed_hit_order() == 'desc' %} checked{% endif %}> latest</label>
        <input type="checkbox" name="explicit-hit-order" id="explicit-hit-order" hidden>
    </p>
    <p>Excerpt order:
        <label><input type="radio" onclick="excerptOrder(this);" name="excerpt-order" id="excerpt-order-rel" value="rel" required{% if computed_excerpt_order() == 'rel' %} checked{% endif %}> relevance</label>
        <label><input type="radio" onclick="excerptOrder(this);" name="excerpt-order" id="excerpt-order-pos" value="pos"{% if computed_excerpt_order() == 'pos' %} checked{% endif %}> position</label>
        <input type="checkbox" name="explicit-excerpt-order" id="explicit-excerpt-order" hidden>
    </p>
</form>
</div>
<p>The entire Seth collection, including audio, early and personal sessions, can be ordered from <a href="https://sethcenter.com/collections/books">sethcenter.com</a>.<br />
There are digital copies in the <a href="https://smile.amazon.com/s/rh=n%3A133140011%2Cp_27%3AJane+Roberts%2Cn%3A%21133141011%2Cn%3A154606011">Amazon kindle store</a>. Book content copyright © Laurel Davies-Butts. (<a href="https://www.facebook.com/profile.php?id=100022991740159">Buy Rob's artwork!</a>)</p>
{% autoescape false %}
{{ results }}
<h3 id="pagination">{{ pagination }}</h3>
{% endautoescape %}
<script>
    var gHitOrder = {{ hit_order|tojson }};
    var gExcerptOrder = {{ excerpt_order|tojson }};
    var gReadableLayout = {{ readable_layout()|tojson }};
    var gScrollTo = {% if correction %}{{ 'search'|tojson }}{% else %}{{ 'results'|tojson }}{% endif %};
</script>
{% assets 'main_js' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% if request.host == 'search.sethtalks.com' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96378100-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>