<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="robots" content="nofollow" />
	<title>Seth corpus search</title>
    <script>
        function filterBook(abbr) {
            abbr_l = abbr.toLowerCase();
            q = document.getElementById('query').value;

            not_book_re = new RegExp("\\bNOT\\s+book:" + abbr_l + "\\b");
            book_re = new RegExp("\\bbook:" + abbr_l + "\\b");
            any_book_re = new RegExp("\\bbook:\\w+");

            if (not_book_re.test(q)) {
                new_q = q.replace(not_book_re, "book:" + abbr_l)
            } else if (book_re.test(q)) {
                new_q = q.replace(book_re, "NOT book:" + abbr_l)
            } else if (any_book_re.test(q)) {
                new_q = q.replace(any_book_re, "book:" + abbr_l);
            } else {
                new_q = (q + " book:" + abbr_l + " ").trimLeft();
            }
            document.getElementById('query').value = new_q;
        }

        function toggleDisplay(self, id) {
            e = document.getElementById(id);
            if (e.style.display == 'none') {
                e.style.removeProperty('display');
                self.innerText = ' ▼ ';
            } else {
                e.style.display = 'none';
                self.innerText = ' ► ';
            }
        }
    </script>
    <style>
        h1 a, .examples a, #books a {text-decoration: none;}
        h1 a {color: inherit;}
        .omission {padding: 0 0.2em;}
        .hit-long {
            font-size: 0.9em;
            position: relative;
            left: 1.5em;
        }
        .display-toggle {text-decoration: none;}
        .display-toggle, .unique-link {color: black;}
        .book-link img {
            vertical-align: text-bottom;
            height: 1.5em;
        }
    </style>
</head>
<body style="width: 65em; font-family: Verdana, sans-serif; font-size: 0.9em;">
<h1><a href="/">Seth corpus search</a></h1>
<p><a href="http://sethtalks.com/t/seth-search-engine/513/">Forum post for updates</a></p>
<div><p>Example searches:</p>
<ul class="examples">
    <li>{{ 'beer OR wine'|example|safe }}</li>
    <li>{{ 'cat mouse'|example|safe }}</li>
    <li>{{ '"conscious mind"'|example|safe }}</li>
    <li>{{ '"mind matter"~2'|example|safe }}</li>
    <li>{{ 'book:nopr exercise'|example|safe }}</li>
    <li>{{ 'NOT book:wth exercise'|example|safe }}</li>
    <li>{{ 'heading:(essay 4) mind'|example|safe }}</li>
    <li>{{ '"five minutes" OR "ten minutes" book:(ss OR nopr OR tma)'|example|safe }}</li>
</ul>
<p>Leave out the search words for a simple list:</p>
<ul class="examples">
    <li>{{ 'heading:dreams'|example|safe }}</li>
    <li>{{ 'heading:(chapter 16)'|example|safe }}</li>
    <li>{{ 'session:636'|example|safe }}</li>
    <li>{{ 'session:(January 1977)'|example|safe }}</li>
    <li>{{ 'book:tma heading:*teen'|example|safe }}</li>
</ul>
</div>
<p><a href="http://whoosh.readthedocs.io/en/latest/querylang.html">Query language reference</a></p>
<p id="books">Current books: {{ books|map(attribute='abbr')|map('link_abbr')|join(', ')|safe }}</p>
<form id="search-form" action="." method="post">
    <input type="text" id="query" name="query" title="query" value="{{ query }}" style="width: 30em;">
    <input type="submit" name="search" value="Search">
</form>
<p>The entire Seth collection, including audio, early and personal sessions, can be ordered from <a href="https://sethcenter.com/collections/books">sethcenter.com</a>.<br />
There are <a href="https://www.amazon.com/Jane%20Roberts/e/B000APH242/?rh=n%3A283155%2Cp_82%3AB000APH242%2Cp_n_feature_browse-bin%3A618073011">digital copies</a> in the Amazon kindle store.</p>
<p>Book content copyright © Laurel Davies-Butts</p>
{% autoescape false %}
{{ result }}
{% endautoescape %}
</body>
{% if scroll %}
    <script>
        document.getElementById('results').scrollIntoView();
    </script>
{% endif %}
</html>